@{
    ViewData["Title"] = "Home Page";

}
@using MovieNight.Models.ModelView;

@model IndexViewModel

<div class="container">

    <div class="text-center text-md-center" style="margin-top:10%">
        @if (Model.UserRole == "Admin")
        {
            <button type="button" onclick="appearButtons()" class=" btn-secondary btn-lg" style="margin: 2.5%; background:#0db1fa; border: none; min-width: 30%; min-height: 3.5em; font-size: 30px; border-radius: 30px">Contribute to Library</button>
            <form class="uploadMovies text-center" style="display:none" asp-action="AddMovie" asp-controller="Home" method="post">
                <input name="movieUrl" type="text" placeholder="movieUrl" />
                <input name="movieName" type="text" placeholder="movie name" />
                <button type="submit" class="btn-lg btn-primary" style="background-color:#0db1fc; border:none; min-width:10%; min-height:2.0em; font-size:20px; border-radius:20px;">Add to Library</button>
            </form>
            <form class="uploadMovies text-center" style="display:none;margin-top:10px;" asp-action="DeleteMovie" asp-controller="Home" method="post">
                <input name="movieName" type="text" placeholder="movie name" />
                <button type="submit" class="btn-lg btn-primary" style="background-color:#0db1fc; border:none; min-width:10%; min-height:2.0em; font-size:20px; border-radius:20px;">Remove Movie</button>
            </form>


        }
        <form asp-controller="Home" asp-action="CreateRoom" method="post" class="text-center">
            <button type="submit" class=" btn-lg btn-primary" style="margin:2.5%; background:#59b723 ;border:none ; min-width:30%;min-height:3.5em;font-size:30px;border-radius:30px">Create Lobby</button>
            <button type="button" onclick="appearLobbies()" class=" btn-secondary btn-lg" style="margin: 2.5%; border: none; min-width: 30%; min-height: 3.5em; font-size: 30px; border-radius: 30px">Join Lobby</button>

        </form>
    </div>

    <div id="lobbies" class="text-center" style="margin-top:10%;display:none">
        @foreach (var c in Model.ChatRooms)
        {
            <div class="text-center d-inline-block" style="margin:10px;border-radius:15px;background:rgba(0, 0, 0, 0.5); min-width:15%;padding:5px; min-height:150px;">
                <p class="text-white" style="margin-top:6%">IDS:<br> @c.Id</p>
                <p class="text-white">Name:<br> @c.Owner</p>
                <form action="Home/JoinRoom/@c.Id" method="get">
                    <div>
                        @if (User.Identity.Name == c.Owner || Model.UserRole == "Admin")
                        {
                            <button formaction="Home/DeleteRoom/@c.Id" type="submit" name="Id" class="text-white d-inline" style="border-radius:5px; background:red; border:none; min-width:25%;margin-bottom:10px;margin-right:5%">DeleteRoom</button>

                        }
                        <button type="submit" name="Id" class="text-white d-inline-block" style="border-radius:5px; background:gray; border:none; width:25%;margin-bottom:10px">Join</button>
                    </div>
                </form>
            </div>
        }


    </div>

</div>

<ul id="dblist"></ul>




<script>

    function appearButtons() {
        var el = document.getElementsByClassName('uploadMovies')
        for (var i = 0; i < el.length; i++) {
            if (el[i].style.display == "none") {
                el[i].style.display = "block";
            }

            else
                el[i].style.display = "none"
        }
       
    }

    function appearLobbies() {
        var el = document.getElementById('lobbies');
        if (el.style.display == "none")
            el.style.display = "block";
        else
            el.style.display = "none";

    }

    function apii() {
        var ul = document.getElementById("dblist");
        ul.innerHTML = ''
        fetch("api/all", {
            method: "Get"
        }).then(x => x.json())
            .then(x => {
                for (var i = 0; i < x.length; i++) {
                    var li = document.createElement("li");
                    li.textContent = x[i].userName;
                    li.style = "color:white";
                    ul.appendChild(li);
                }

            })
    }
</script>