@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="owl-carousel">
    <div> <img src="~/img/36785949430_2af1bc3eb3_b.jpg"> </div>
    <div> <img src="~/img/Sofia_University_-_FMI_2.jpg"> </div>
    <div> <img src="~/img/Sofia_University_panorama_2-1200x675.jpg"> </div>
</div>