/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
  margin: 0;
  padding: 0;
}

/* Content above the header */
.uper {
  height:320px;
  margin-top: 20px;
  padding: 10px;
  margin-right: 25px;
  display: inline-block;
  text-align: -webkit-center;
  background: rgba(255, 255, 255, 0.9);
  border: #023d62 solid;
  border-radius: 30px;
  width: 200px;
  overflow: hidden;
}
.conferenceP {
  color: #023d62;
  font-size: 20px;
  font-weight: bold;
}
.help-logout-student-container {
  width: 600px;
  float: right;
  padding: 6px 0;
  background-color: #cccaca;
  font-size: 11px;
  font-family: sans-serif;
}

.help-logout-student-container a {
  color: #000;
}

.line-separator {
  margin: 0 3px;
}

.help, .log-out {
  cursor: pointer;
}

.help {
  margin-left: 10px;
}

.student-and-name {
  float: right;
  margin-right: 10px;
}

.student-and-name .student {
  margin-right: 3px;
}

.student-name {
  font-weight: 700
}

/* Header starts here */

.header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: #52b419;
  border-bottom: 1.5px solid #000;
}

.image-holder img {
  width: 260px;
  height: 50px;
  margin: 10px 0 10px 35px;
  cursor: pointer;
}

.navigation-container {
  margin-right: 35px;
  font-family: sans-serif;
  font-weight: 700;
}

.navigation-container a {
  display: inline-block;
  padding: 20px 20px 20px 0;
  text-decoration: none;
  color: #fff;
}

.navigation-container a:last-child {
  padding-right: 0;
}

.navigation-container a:hover {
  transform: scale(1.2);
  transition: .3s;
}

#formDropDownMenu {
  text-align: center;
    margin-top: 19px;
    visibility: hidden;
    max-height: 300px;
    color: white;
    font-weight: 500;
  position: absolute;
  visibility: hidden;
}
#formDropDownMenu p:hover{
  text-decoration: underline;
}
.form-dropdown {
  position: absolute;
  right: 5px;
  top: 50px;
  width: 95px;
  background-color: #52b419;
  max-height: 0;
  transition: all .6s;
  z-index: 100;

}

.form-dropdown p {
  border-radius: 3px;
  transition: all 1s;
  cursor: pointer;
}

/* Provide sufficient contrast against white background */

/* Carousel Starts */

.owl-carousel img {
  width: 250px;
  height: 350px;
  padding-right: 10px;
  box-sizing: border-box;
}

.owl-nav {
  text-align: center;
  font-size: 33px;
}

.owl-prev {
  margin-right: 20px;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}