.header-content {
	margin-bottom: 50px;
}

main {
	position: relative;
}

.required-fields {
	margin-bottom: 0;
	font-size: 20px;
	font-family: sans-serif;
	color: #ff0000;
	text-shadow: 1px 1px #a3a2a2;
}

.title {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.form-main {
	border: 1px solid #000;
}

.form-main form {
	display: flex;
	flex-direction: column;
}

.form-main div {
	text-align: center;
	margin-bottom: 30px;
}

.form-main div * {
	margin-left: 20px;
}

.signed input {
	width: 60px;
}

.text-area {
	width: 1000px;
	display: flex;
	align-items: center;
	margin-left: 50%;
	transform: translate(-50%, -0%);
}

.student select {
	width: 200px;
}

.button-area {
	display: flex;
	flex-direction: column;
}

.button-area button {
	width: 200px;
	margin: 0 auto;
	margin-top: 10px;
	padding: 5px 15px;
	color: #fff;
	background-color: rgb(165, 42, 42);
	border: none;
	border-radius: 4px;
}

.button-area button:hover {
	transform: scale(1.1);
	transition: .3s ease;
}